/node_modules
/CLI/node_modules
/build
/CLI/node_modules
.npm-debug.log
*.DS_Store
privKey
privKeyLocal
coverage/
coverage.json
.vscode/
bridge.log
scTopics
coverageEnv
/flat
/tempPoly
.eslintrc.js
package-lock.json
bridge.log
.node-xml*
.solcover.js.bk
allFiredEvents
extract/
extract.py
extract.zip
/test-results
